<%- include('header'); %>
<h1>Profile</h1>
<div>
    <p>
        <%= user.name %>
    </p><br>
    <p>
        <%= user.username %>
    </p><br>
    <p>
        <%= user.phone %>
    </p><br>
    <p>
        <%= user.email %>
    </p><br>
    <p>
        <%= user.address %>
    </p><br>
</div>
<br><a href="/">Back to Accounts Summary</a>

<%- include('footer'); %>